html {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

h1, h2, h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
	
h1 {
	font-size: 1.875em;
}
	
h2 {
	font-size: 1.125em;
}
	
h3 {
	font-size: .75em;
}
	
p {
	font-size: .875em;
	line-height: 21px;
	padding: 0 30px;
}

header {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	padding: 38px 0 16px;
	margin: 0;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 16px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	display: block;
	line-height: 30px;
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

.top-section, .bottom-section {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
}

.bottom-section {
	padding-left: 5px;
}

.main-image {
	height: auto;
}
	
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}
	
.main-title {
	height: auto;
	padding-left: 5px;
}
	
.main-title h2 {
	padding: 5px 0;
	color: #77a466;
}
	
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one, 
.section-two, 
.section-three {
	height: auto;
	padding-left: 5px;
	border-top: 1px solid #eee;
}
		
.section-two h3, 
.section-three h3 {
	padding: 0;
}

.menu {
	list-style: none;
	padding: 0;
}
	
.menu li {
	padding: 10px 0;
	color:#77a466;
}
	
.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0;
}
	
.address {
	font-size: 1em;
	line-height: 24px;
}
	
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	border-top: 3px solid #eee;
	margin: 0 auto;
}
	
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {

	.top-section {
		flex-flow: row wrap;
	}

	.bottom-section {
		flex-flow: row nowrap;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: auto;
		border-top: 1px solid #eee;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-one h3 {
		padding: 10px 0;
	}

	.section-two h3 {
		padding: 10px 10px;
	}

	.reviews {
		padding-left: 10px;
		padding-right: 10px;
	}

	.section-three h3 {
		padding: 10px 50px;
	}

	.address {
		padding-left: 50px;
	}

}

/* laptop and desktop */
@media (min-width: 1024px) and (max-width: 2560px) {

	header {
	flex-flow: row nowrap !important;
	justify-content: space-between;
	align-items: flex-start;
	}

	header h1 {
	margin: 0;
	padding: 38px 0;
	border-bottom: none;
	}

	header nav {
	padding: 46px 0;
	}

	header nav ul li {
	display: inline;
	padding: 0 10px;
	}

	.top-section {
	flex-flow: row wrap;
	}

	.bottom-section {
		flex-flow: row nowrap;
	}

	.section-one,
	.section-two,
	.section-three {
	width: 33%;
	}

	.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	}

	.section-one h3 {
	padding: 10px 0;
	}

	.section-two h3 {
		padding: 10px 10px;
	}

	.reviews {
		padding-left: 10px;
		padding-right: 10px; 
	}

	.section-three h3 {
	padding: 10px 50px;
	}

	.address {
		padding-left: 50px;
	}
	
}

